<div style="text-align:center">
    <!-- <h1>
      Welcome to {{ title }}!
    </h1> -->
  
    <div class="row">
      <div class="col-md-6">
        <h1>hello</h1>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Absolute Owner</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="absoluteOwner" [(ngModel)]="absoluteOwner">
        </div>
  
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Barcode</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="barcode" [(ngModel)]="barcode">
        </div>
  
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Brand</span>
          <input type="text" class="form-control" placeholder="Brand" aria-describedby="basic-addon1" name="brand" [(ngModel)]="brand">
        </div>
  
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Chasis Number</span>
          <input type="text" class="form-control" placeholder="Chasis Number" aria-describedby="basic-addon1" name="cNumber" [(ngModel)]="cNumber">
        </div>
  
        <!-- <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Class Of Vehicle</span>
          <input type="text" class="form-control" placeholder="Class Of Vehicle" aria-describedby="basic-addon1">
        </div> -->
  
        <!-- <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Country Of Origin</span>
          <input type="text" class="form-control" placeholder="Country Of Origin" aria-describedby="basic-addon1">
        </div>
  
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Cylinder Capacity</span>
          <input type="text" class="form-control" placeholder="Cylinder Capacity" aria-describedby="basic-addon1">
        </div>
  
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">email</span>
          <input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon1">
        </div> -->
  
        <br>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6  ">
            <button type="button" class="btn btn-lg btn-success" (click)="addVehicle()">Send</button>
    
          </div>
        </div>
        
  
      </div>
      <div class="col-md-6">
        <h2>hello2</h2>
      </div>
    </div>
    
  </div>